-15.times do |m|
  -n=m+1
  %span= link_to fib(n), svg_spiral_path(params.merge(fib_count: n))
  |
- maxfib = params[:fib_count].present? ? params[:fib_count].to_i : 10
- offset = view_box_offset(maxfib)
%svg{ version: "1.2", 'viewBox' => "-#{offset[0]}.5 -#{offset[1]}.5 #{fib(maxfib + 1) + 1} #{fib(maxfib) + 1}"}
  %g{fill: "none", stroke: "black", 'stroke-linecap' => "square", "stroke-width" => 2, transform: "rotate(#{ 90 * ((maxfib - 1) % 4) })"}
    %g{id: "unit_square"}
      %rect{ x: "0", y: "0",
        width: "1", height: "1", "vector-effect" => "non-scaling-stroke"}
      %path{d: "M 1,0 A 1,1 0 0 1 0,1", "vector-effect" => "non-scaling-stroke"}

    - shared_options = {'xlink:href' => '#unit_square'}
    - (1..maxfib).each do |i|
      %use{'xlink:href' => '#unit_square', transform: "rotate(#{-90 * (i%4 - 1)} ) translate(#{spiral_offset(i%4,i)},-#{spiral_offset((i+1)%4,i)}) scale(#{fib(i)})"}
